<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,200&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
    integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
    integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin="">
    </script>
  <link rel="stylesheet" href="/css/style.css">
  <title>Tech Blog</title>
</head>

<body>

  <div class="has-background-grey-darker">
    <div class="navbar has-background-grey-darker">
      <a href="/">
      <button class="button is-dark" id="homepage-button">Homepage</button>
      </a>
      <a  href="/dashboard">
      <button class="button is-dark" id="dashboard-button">Dashboard</button>
      </a>
      {{#if logged_in}}
      <a href="/logout">
      <button  class="button is-dark" id="logout-button">Logout</button>
      </a>
      {{else}}
      <a  href="/login">
      <button class="button is-dark" id="login-button">Login</button>
      </a>
      {{/if}}
      {{!-- <button class="button is-dark" id="login-button">Login</button>
      <button class="button is-dark" id="logout-button">Logout</button>
      --}}
    </div>
    <h1 class="font is-size-1 has-background-success-light">The Tech Blog</h1>

  </div>

  {{{ body }}}

  </div class="mx-auto mt-1">

</body>



</html>

{{!-- to do
create dashboard page as demonstrated in the assets. Set up with new routing.
logout and login logic need to show the oppsite button and hide its own
blog post models with topic and body need to extend user models
dashboar posts need to save posts to logged in users
dashboard page needs to us withauth to verify login and route you to the login page first
handlebars will need to render blog posts to the homepage by looping through all blog posts
will comments extend blog posts? or just push into the blog post model?
need to add logic to loop through all blog posts for logged in user and render them here
need to add logic to a "new blog post" button to render a submission form
need to add logic to renderred submission form for posting to new blog entries and rendering the new entry on the page



--}}