{{!--  need to add logic to loop through all blog posts for logged in user and render them here
        need to add logic to a "new blog post" button to render a submission form
        need to add logic to renderred submission form for posting to new blog entries and rendering the new entry on the page
--}}

<div class="container">
  <form class="box columns mx-auto my-auto new-user-div">
    <h2>Title</h2>
    <input class="input new-title-input" type="text" placeholder="Write your blog title here">
    <h2>Content</h2>
    <input class="input new-blog-input" type="text" placeholder="Write your blog content here.">
      <button class="button has-background-success-light mx-auto mt-4 blog-submit-btn"
        id="blog-submit-btn">Post</button>
  </form>
</div>

<script src="/js/script.js"></script>